@model DataPranayPeddi.Models.Director

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationQualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationQualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.DirectorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
