﻿
<br />
<br />
<br />
<br />
<br />


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="http://s12.postimg.org/rb3y6s9st/banner_1.jpg" alt="Chania">
            <div class="carousel-caption">

            </div>
        </div>

        <div class="item">
            <img src="http://s21.postimg.org/vzas4qljb/Artof_Filmmaking_1600x900.jpg" alt="Chania">
            <div class="carousel-caption">

            </div>
        </div>


        <div class="item">
            <img src="http://s7.postimg.org/g18flzni3/banner_2.jpg" alt="Flower">
            <div class="carousel-caption">

            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />
<div class="container"
<div class="jumbotron">
    <h3 style="font-family:'Segoe UI Symbol' ">Today's Trending Videos</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/22cN-b8R5Zk" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/K2KhbFGsfQY" frameborder="0" allowfullscreen></iframe>
</div>
</div>

<br />


